<mat-toolbar style="color: whitesmoke; background-color: darkslategrey;">
  <header>
    <h1>Movies App</h1>
  </header>
  <span class="spacer"></span>
  <button mat-icon-button [matMenuTriggerFor]="menu" class="float-right">
    <mat-icon>more_vert</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <a mat-button
       style="color: whitesmoke; padding: 16px;"
       routerLink="/">
      <mat-icon style="color: whitesmoke;">list</mat-icon>
      Movie List
    </a>
    <a mat-button
       style="color: whitesmoke; padding: 16px;"
       routerLink="/group-by-rating">
      <mat-icon style="color: whitesmoke;">star</mat-icon>
      Movies By Rating
    </a>
    <a mat-button
       style="color: whitesmoke; padding: 16px;"
       routerLink="/highest-rated">
      <mat-icon style="color: whitesmoke;">assignment</mat-icon>
      Report: Highest Rated
    </a>
  </mat-menu>
</mat-toolbar>

