/* You can add global styles to this file, and also import other style files */
@import 'ag-grid-community/styles/ag-grid.css';
@import 'ag-grid-community/styles/ag-theme-alpine.css';

.flex-container {
  display: flex;
  justify-content: center;
}

.movie-grid {
  height: 85%;
  width: 100%;
  position: absolute;
  padding-left: 16px;
  padding-right: 16px;
}

.grid-heading {
  padding-top: 16px;
  padding-left: 16px;
  color: whitesmoke;
  font-size: 12pt;
  text-align: center;
}

html, body {
  height: 100%;
}

.mat-mdc-menu-panel {
  background-color: #222628 !important;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: #203535;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
